@model AutoPartsStore.Infrastructure.ViewModels.ProductSingleModel
@{
    ViewData["title"] = Model.Title;
}


<!-- content-section-starts -->
<div class="container">
    <div class="products-page row">
        <div class="col-md-9 row col-12 ">
            <div class="col-md-7 dress-info">
                <div class="row">
                    <h3 class="col-12">
                        @Model.Title
                        <span class="badge badge-info badge-circle">@Model.Price ریال</span>
                        <span class="badge badge-info badge-circle">تعداد موجود @Model.Stock</span>
                    </h3>
                    <div class="clearfix"></div>
                    <p>@Model.Descrioption</p>
                </div>
                <div class="mt-3">
                    <a class="btn mr-2 float-left btn-outline-secondary" href="#">افزودن به سبد خرید</a>
                    <a class="btn mr-2 float-left btn-outline-info" href="#">همین الان بخرید</a>
                    <div class="clearfix"></div>
                </div>
                <script src="/js/imagezoom.js"></script>
                <!-- FlexSlider -->
                <script defer src="/js/jquery.flexslider.js"></script>
            </div>
            <div class="col-md-5 mt-3 mt-md-0 zoom-grid">
                <div class="thumb-image"> <img src="/img/@Model.Image" data-imagezoom="true" class="img-fluid" alt="" /> </div>
            </div>
            <div class="clearfix"></div>
            <div class="reviews-tabs">
                <!-- Main component for a primary marketing message or call to action -->
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">توضیحات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">نظرات مشتریان</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <p class="tab-text">
                            Maecenas mauris velit, consequat sit amet feugiat rit, elit vitaeert scelerisque elementum, turpis nisl accumsan ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry. and scrambled it to make a type
                            specimen book. It has survived Auction your website on Flippa and you'll get the best price from serious buyers, dedicated support and a much better deal than you'll find with any website broker. Sell your site today I
                            need a twitter bootstrap 3.0 theme for the full-calendar plugin. it would be great if the theme includes the add event; remove event, show event details. this must be RESPONSIVE and works on mobile devices. Also, I've seen
                            so many bootstrap themes that comes up with the fullcalendar plugin. However these .
                        </p>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="response">
                            <div class="media response-info">
                                <div class="media-left response-text-left">
                                    <a href="#">
                                        <img class="media-object" src="images/icon1.png" alt="" />
                                    </a>
                                    <h5><a href="#">Username</a></h5>
                                </div>
                                <div class="media-body response-text-right">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <ul>
                                        <li>MARCH 21, 2015</li>
                                        <li><a href="single.html">Reply</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="media response-info">
                                <div class="media-left response-text-left">
                                    <a href="#">
                                        <img class="media-object" src="images/icon1.png" alt="" />
                                    </a>
                                    <h5><a href="#">Username</a></h5>
                                </div>
                                <div class="media-body response-text-right">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <ul>
                                        <li>MARCH 26, 2054</li>
                                        <li><a href="single.html">Reply</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="media response-info">
                                <div class="media-left response-text-left">
                                    <a href="#">
                                        <img class="media-object" src="images/icon1.png" alt="" />
                                    </a>
                                    <h5><a href="#">Username</a></h5>
                                </div>
                                <div class="media-body response-text-right">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <ul>
                                        <li>MAY 25, 2015</li>
                                        <li><a href="single.html">Reply</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="media response-info">
                                <div class="media-left response-text-left">
                                    <a href="#">
                                        <img class="media-object" src="images/icon1.png" alt="" />
                                    </a>
                                    <h5><a href="#">Username</a></h5>
                                </div>
                                <div class="media-body response-text-right">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <ul>
                                        <li>FEB 13, 2015</li>
                                        <li><a href="single.html">Reply</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="media response-info">
                                <div class="media-left response-text-left">
                                    <a href="#">
                                        <img class="media-object" src="images/icon1.png" alt="" />
                                    </a>
                                    <h5><a href="#">Username</a></h5>
                                </div>
                                <div class="media-body response-text-right">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <ul>
                                        <li>JAN 28, 2015</li>
                                        <li><a href="single.html">Reply</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="media response-info">
                                <div class="media-left response-text-left">
                                    <a href="#">
                                        <img class="media-object" src="images/icon1.png" alt="" />
                                    </a>
                                    <h5><a href="#">Username</a></h5>
                                </div>
                                <div class="media-body response-text-right">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <ul>
                                        <li>APR 18, 2015</li>
                                        <li><a href="single.html">Reply</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="media response-info">
                                <div class="media-left response-text-left">
                                    <a href="#">
                                        <img class="media-object" src="images/icon1.png" alt="" />
                                    </a>
                                    <h5><a href="#">Username</a></h5>
                                </div>
                                <div class="media-body response-text-right">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <ul>
                                        <li>DEC 25, 2014</li>
                                        <li><a href="single.html">Reply</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-3 col-12">
            <div class="product-listy">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                        دسته بندی ها
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                </div>
            </div>
            <div class="latest-bis">
                <img src="images/l4.jpg" class="img-responsive" alt="" />
                <div class="offer">
                    <p>40%</p>
                    <small>ویژه</small>
                </div>
            </div>
            <div class="tags">
                <h4 class="tag_head">لینک های کوتاه</h4>
                <ul class="tags_links">
                    <li><a href="#">جدیدترین محصولات</a></li>
                    <li><a href="#">تخفیف خورده ها</a></li>
                    <li><a href="#">مخصوص پراید</a></li>
                    <li><a href="#">Theme</a></li>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Equipment</a></li>
                    <li><a href="#">Best</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Apparel</a></li>
                    <li><a href="#">Super</a></li>
                    <li><a href="#">Duper</a></li>
                    <li><a href="#">Theme</a></li>
                    <li><a href="#">Responsive</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Equipment</a></li>
                </ul>

            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="other-products products-grid">
    <div class="container justify-content-center row">
        <header class="col-12">
            <h3 class="like text-center">محصولات مرتبط</h3>
        </header>
        @foreach (var item in ViewBag.OtherProducts as IEnumerable<AutoPartsStore.Infrastructure.ViewModels.ProductHomePageModel>)
        {
            <div class="col-md-4 product simpleCart_shelfItem text-center">
                <a href="/products/details/@item.Id"><img src="/img/@item.Image" alt="" /></a>
                <div class="mask">
                    <a class="btn" href="/products/details/@item.Id">جزئیات</a>
                </div>
                <a class="product_name" href="/products/details/@item.Id">@item.Title</a>
                <p><a class="item_add" href="#" onclick="addToCart(@item.Id , @item.Price)"><i></i> <span class="item_price">@item.Price.ToString("n0") ریال</span></a></p>
            </div>
        }
        <div class="clearfix"></div>
    </div>
</div>
<!-- content-section-ends -->
@section Scripts{
    <script src="/js/cart.js"></script>
}