@model IEnumerable<AutoPartsStore.Infrastructure.ViewModels.ProductHomePageModel>
@{
    ViewData["Title"] = "Home Page";
}
@if (ViewBag.Msg != null)
{
    <div class="alert alert-primary">
        @if (ViewBag.Msg == "emailconfirm")
        {
            <p>ایمیلی حاوی لینک تایید برای شما ارسال شده . پس تایید ایمیل خود <a href="/login">ورود</a> کنید</p>
        }
        else if (ViewBag.Msg == "confirmorder")
        {
            <p>سفارش شما با موفقیت ثبت شد و در بازه 2 تا 4 روز به شما میرسد</p>
            <p>شما میتوانید با شماره تلفن 093311111 در جریان ارسال باشید همچین در پنل کاربری خود وضعیت سفارش خود را مشاهده کنید</p>
        }
    </div>
}
<div class="banner">
    <div class="container">
        <div class="banner-bottom">
            <div class="banner-bottom-left">
                <h2>خرید از<br> Auto <br> Iran</h2>
            </div>
            <div class="banner-bottom-right">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider4">
                        <li>
                            <div class="banner-info">
                                <h3>قیمت های بصرفه و مناسب</h3>
                                <p>خرید خود را همین الان اغاز کنید</p>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <h3>خرید تمام آنلاین</h3>
                                <p>خرید خود را همین الان اغاز کنید</p>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <h3>بهترین جنس ها به همراه تضمین</h3>
                                <p>خرید خود را همین الان اغاز کنید</p>
                            </div>
                        </li>
                    </ul>
                    <script src="js/responsiveslides.min.js"></script>
                    <script>
                        // You can also use "$(window).load(function() {"
                        $(function () {
                            // Slideshow 4
                            $("#slider4").responsiveSlides({
                                auto: true,
                                pager: true,
                                nav: false,
                                speed: 500,
                                namespace: "callbacks",
                                before: function () {
                                    $('.events').append("<li>before event fired.</li>");
                                },
                                after: function () {
                                    $('.events').append("<li>after event fired.</li>");
                                }
                            });

                        });
                    </script>
                </div>
                <!--banner-->
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="shop">
            <a href="single.html">اخرین محصولات ما را ببنید</a>
        </div>
    </div>
</div>
<!-- content-section-starts-here -->
<div class="container">
    <div class="main-content">
        <div class="online-strip row">
            <div class="col-md-4 follow-us">
                <h3>
                    ما را دنبال کنید :
                    <a class="twitter" href="#"></a>
                    <a class="facebook" href="#"></a>
                </h3>
            </div>
            <div class="col-md-4 shipping-grid">
                <div class="shipping">
                    <img src="images/shipping.png" alt="" />
                </div>
                <div class="shipping-text">
                    <h3>ارسال رایگان</h3>
                    <p>برای خرید های بالاتراز 2,000,000</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 online-order">
                <p>تلفن پشتیبانی</p>
                <h3>999 4567 8902</h3>
            </div>
            <div class="clearfix"></div>
        </div>
        @*<div class="products-grid row justify-content-between">
            <header class="col-12">
                <h3 class="head text-center">آخرین محصولات</h3>
            </header>
            @foreach (var item in Model)
            {
                <div class="col-md-4 product simpleCart_shelfItem text-center">
                    <a href="/products/details/@item.Id"><img src="/img/@item.Image" alt="" /></a>
                    <div class="mask">
                        <a class="btn" href="/products/details/@item.Id">جزئیات</a>
                    </div>
                    <a class="product_name" href="/products/details/@item.Id">@item.Title</a>
                    <p><a class="item_add" href="#" onclick="addToCart(@item.Id,@item.Price)"><i></i> <span class="item_price">@item.Price.ToString("n0") ریال</span></a></p>
                </div>
            }
            <div class="clearfix"></div>
        </div>*@
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {

                    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                        <div class="card">
                            <a class="" href="/products/details/@item.Id">
                                <img height="200" class="card-img" src="/img/@item.Image" alt="@item.Title">
                                @*<div class="card-img-overlay d-flex justify-content-end">
                                    <a href="#" class="card-link text-danger like">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                </div>*@
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="text-secondary @(item.Title.Length < 24 ? "h-51" : "")" href="/products/details/@item.Id">
                                        @item.Title
                                    </a>
                                </h5>
                                <span class="card-subtitle text-muted">@item.Category</span>
                                <div>
                                    <div class="w-100 text-success"><h5 class="mt-4">@item.Price.ToString("n0") ریال</h5></div>
                                    <button onclick="addToCart(@item.Id , @item.Price)" class="btn btn-danger mt-3 float-right">
                                        <i class="fas fa-shopping-cart"></i>افزودن سبد خرید
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script src="/js/cart.js"></script>
}